NODE-RED/flows.json
[{"id":"12bade9f.a4fb01","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d18ebaf3.5d0bd8","type":"ui_form","z":"12bade9f.a4fb01","name":"","label":"","group":"90ca454b.14d3b8","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":119.00009155273438,"y":254.3333339691162,"wires":[["d63d7a7d.44bfe8"]],"l":false},{"id":"d63d7a7d.44bfe8","type":"function","z":"12bade9f.a4fb01","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":233.00010013580322,"y":193.33333206176758,"wires":[["9dcef508.b9ad68","2a5f4bf.aa835b4"]],"l":false},{"id":"5f04af9.02d485","type":"function","z":"12bade9f.a4fb01","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":472.0001287460327,"y":196.3333740234375,"wires":[["abf51482.044618"]],"l":false},{"id":"9dcef508.b9ad68","type":"watson-conversation-v1","z":"12bade9f.a4fb01","name":"Customer Service Helpdesk","workspaceid":"b177cb0f-43f5-44af-93a4-9b673c2b1aeb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/2c11687b-9ba4-45ea-80d9-bbb5f2b337b5","timeout":"","optout-learning":false,"x":367.00008487701416,"y":119.3333625793457,"wires":[["5bdd7b2a.451824","5f04af9.02d485"]],"l":false},{"id":"2a5f4bf.aa835b4","type":"ui_text","z":"12bade9f.a4fb01","group":"90ca454b.14d3b8","order":2,"width":0,"height":0,"name":"","label":"Customer(You): ","format":"{{msg.payload}}","layout":"row-center","x":218.0000820159912,"y":335.3333377838135,"wires":[],"l":false},{"id":"5bdd7b2a.451824","type":"debug","z":"12bade9f.a4fb01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":374.0000915527344,"y":46.33344268798828,"wires":[],"l":false},{"id":"abf51482.044618","type":"ui_text","z":"12bade9f.a4fb01","group":"90ca454b.14d3b8","order":3,"width":18,"height":3,"name":"","label":"SmartBot: ","format":"{{msg.payload}}","layout":"col-center","x":461.00008726119995,"y":333.3333377838135,"wires":[],"l":false},{"id":"90ca454b.14d3b8","type":"ui_group","z":"","name":"Intelligent Chatbot","tab":"d67fa621.3ccb78","order":1,"disp":true,"width":18,"collapse":false},{"id":"d67fa621.3ccb78","type":"ui_tab","z":"","name":"Customer Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
